*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient( to top,#1A0C09,#893A19,#BC5F1A,#DF8B45,#DF9065);
    height: 100%;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    background-color: black;
}

#cabesalho a{
    font-size:25px;
    color: #fff;
}
.menu{
    width: 40px;
    height: 40px;
    position:relative;
}

.menu label{
    width: 100%;
    height: 100%;
    background-color: transparent;
    position:absolute;
    transition: all 0.3s linear;
    background-color: black;
}

#check{
    position:absolute;
    z-index: 1;
    display: none;
}

.menu span{
    width: 30px;
    height: 3px;
    top: 20px;
    left: 4px;
    position:absolute;
    background-color: white;
    transition: all 0.3s linear;
}

.menu span:before{
    content: "";
    width: 30px;
    height: 3px;
    bottom: -10px;
    position: absolute;
    background-color: wheat;
    transition: all 0.3s linear;
}

.menu span:after{
    content: "";
    width: 30px;
    height: 3px;
    top: -10px;
    position: absolute;
    background-color: wheat;
    transition: all 0.3s linear;
}

#check:checked~span{
    background-color: transparent;
}
#check:checked ~ span:before{
    transform: translate(0px , -10px) rotate(-45deg);
}
#check:checked~span:after{
    transform: translate(0px , 10px) rotate(45deg);
}

#menu-b{
    display: none;
    width: auto;
    height: auto;
    list-style: none;
    position: relative;
    background-color: rgba(105, 105, 105, 0.383);
}

#menu-b a {
    text-decoration: none;
}

#ul-menu{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 150px;
    height: 300px;
    margin-top: 50px;
}

#most{
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,url(./asets/loja.jpg) no-repeat bottom center/cover ;
    height: 600px;
    width: 100%;
}

#text{
    margin: 15px;
    width: 450px;
    color: #fff;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .5px;
}

#main-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.itens{
    display: inline-block;
    padding-top: 18px;
    margin-bottom: 15px;
}

.itens .geral{
    display: block;
    border: red solid 1px;
    max-width: 200px;
    padding: 8px;
}

img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.img-config{
    display:flex;
    justify-content: center;
}






