*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*pagina principal*/
body{
    background: #893A19;
    height: 100vh;
    font-family: 'Istok Web', sans-serif;
}

#cabesalho{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 2;
}

a{
    color: #fff;
}

#cabesalho a{
    font-size:25px;
}

#ul-menu{
    display: flex;
    list-style: none;
    gap: 10rem; 
}

#ul-menu a{
    text-decoration: none;
}

#ul-menu a:hover{
    background: rgba(216, 210, 210, 0.05);
}

#progf{
    color: #FC9D3F;
}

#most{
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,url(loja.jpg) no-repeat bottom center/cover ;
    height: 600px;
    width: 100%;
}

#text{
    margin: 15px;
    width: 450px;
    color: #fff;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .5px;
}

.main-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    cursor: pointer;
    border: 0.01rem solid #000;
}

.itens{
    display: inline-block;
    padding-top: 18px;
    margin-bottom: 15px;
}

.itens .geral{
    display: block;
    /*border: red solid 1px;*/
    max-width: 200px;
    padding: 8px;
}

img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.img-config{
    display:flex;
    justify-content: center;
}

.maintitle{
    font-size: 40px;
    color: #fff;
    display: flex; 
    justify-content: center;
}
hr{
    height: .8px;
    width: 100%;    
    background-color: rgba(0, 0, 0, 0.395);
    border: none;
}

h3 , p{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 700;
}

details{
    display: inline-flex;
    margin: 0px 50px;
}

summary{
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
}

/*pagina de login e registro*/
.headerlog{
    display: block;
    background-color: transparent;
    color: #fff;
}

.titlelog{
    height: 70px;
    text-align: center;
    align-items: center;
    padding-top: 18px;
}

.pointlist{
    display: inline;  
}